<% @usageAmounts.each do |usageAmount| %>
<tr>
  <td>
    <%= form_with(model: usageAmount, class:'ui form') do |f| %>
    <%= f.select(:division, {'分類1': 0, '分類2':1, '除外':2}, {}, onchange: "this.form.submit();", class:"ui fluid dropdown")%>
    <% end %>
  </td>
  <td><%= usageAmount.usageDate %></td>
  <td><%= usageAmount.usageStore %></td>
  <td><%= usageAmount.amount %></td>
  <td class="right aligned">
    <%= link_to  usageAmount, method: :delete do %>
    <i class="trash alternate outline icon grey large"></i>
    <% end %>
    </td>
</tr>


<% end %>